# -----------------------
# BACKEND - FastAPI
# -----------------------
ai_roleplay_backend/.env
ai_roleplay_backend/__pycache__/
ai_roleplay_backend/*.pyc
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
ENV.bak/
*.sqlite3

# -----------------------
# FLUTTER
# -----------------------
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_tool/
build/
.idea/
*.iml
*.lock
pubspec.lock

# -----------------------
# OTHER
# -----------------------
*.log
*.swp
.DS_Store
Thumbs.db
